In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [41]:
df = pd.read_csv("Skyserver_12_30_2019 4_49_58 PM.csv")
dfn = pd.read_csv("Skyserver_12_30_2019 4_49_58 PM.csv")
df.head()

,objid,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,class,redshift,plate,mjd,fiberid
0,1237666301628060000,47.372545,0.820621,18.69254,17.13867,16.55555,16.34662,16.17639,4849,301,5,771,8168632633242440000,STAR,0.000115,7255,56597,832
1,1237673706652430000,116.303083,42.455980,18.47633,17.30546,17.24116,17.32780,17.37114,6573,301,6,220,9333948945297330000,STAR,-0.000093,8290,57364,868
2,1237671126974140000,172.756623,-8.785698,16.47714,15.31072,15.55971,15.72207,15.82471,5973,301,1,13,3221211255238850000,STAR,0.000165,2861,54583,42
3,1237665441518260000,201.224207,28.771290,18.63561,16.88346,16.09825,15.70987,15.43491,4649,301,3,121,2254061292459420000,GALAXY,0.058155,2002,53471,35
4,1237665441522840000,212.817222,26.625225,18.88325,17.87948,17.47037,17.17441,17.05235,4649,301,3,191,2390305906828010000,GALAXY,0.072210,2123,53793,74

In [42]:
df.drop(['objid', 'ra', 'dec', 'run', 'rerun', 'camcol', 'field', 'specobjid', 'plate', 'mjd', 'fiberid'], axis=1, inplace=True)
dfn.drop(['objid', 'ra', 'dec', 'run', 'rerun', 'camcol', 'field', 'specobjid', 'plate', 'mjd', 'fiberid'], axis=1, inplace=True)

In [31]:
df = df[df['class']!='QSO'] # Selects every class value other than quasor 
df.head()

          u         g         r         i         z   class  redshift
0  18.69254  17.13867  16.55555  16.34662  16.17639    STAR  0.000115
1  18.47633  17.30546  17.24116  17.32780  17.37114    STAR -0.000093
2  16.47714  15.31072  15.55971  15.72207  15.82471    STAR  0.000165
3  18.63561  16.88346  16.09825  15.70987  15.43491  GALAXY  0.058155
4  18.88325  17.87948  17.47037  17.17441  17.05235  GALAXY  0.072210

In [32]:
# SELECTING PARTICULAR COLUMNS IN PYTHON
x = df.drop(['class'], axis=1).values
y = df['class'].values

In [33]:
# Train test split
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [34]:
# Scaling the data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [35]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state = 0)
rfc.fit(x_train, y_train)
y_pred = rfc.predict(x_test)

In [36]:
y_pred

array(['STAR', 'GALAXY', 'GALAXY', ..., 'STAR', 'STAR', 'GALAXY'],
      dtype=object)

In [37]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred, y_test)

0.9941101916051591

In [46]:
dfn['class'].unique()

array(['STAR', 'GALAXY', 'QSO'], dtype=object)

In [47]:
# dfn - QSO and NQSO
# Step-1: change galaxy and star labels to NQSO
dfn['class'] = dfn['class'].map({'GALAXY': 'NQSO', 'QSO': 'QSO', 'STAR' : 'NQSO'})   # MAPPING IN PYTHON

In [49]:
dfn['class'].unique()

array(['NQSO', 'QSO'], dtype=object)

In [52]:
# SELECTING PARTICULAR COLUMNS IN PYTHON
x1 = dfn.drop(['class'], axis=1).values
y1 = dfn['class'].values

In [53]:
# Train test split
from sklearn.model_selection import train_test_split
x_train1, x_test1, y_train1, y_test1 = train_test_split(x1, y1, test_size=0.3)

In [54]:
# Scaling the data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train1 = sc.fit_transform(x_train1)
x_test1 = sc.fit_transform(x_test1)

In [55]:
# Random Forest
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state = 0)
rfc.fit(x_train1, y_train1)
y_pred1 = rfc.predict(x_test1)

In [56]:
y_pred1

array(['NQSO', 'QSO', 'NQSO', ..., 'NQSO', 'NQSO', 'QSO'], dtype=object)

In [57]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred1, y_test1)

0.9926